<%= include('includes/top.tmpl') %>
	<!-- newsspec_7937 -->
    <div class="main">
        <%= include('includes/dogs_map.tmpl') %>
        <%= include('includes/dogs_rollover.tmpl') %>
    </div>

<%= include('includes/bottom.tmpl') %>