<%= include('includes/top.tmpl') %>
	<!-- newsspec_7937 -->
    <div class="main">
        <%= include('includes/dogs_list.tmpl') %>
    </div>
    <script type="text/javascript">
    	document.body.className += ' full-width-mode';
    </script>
<%= include('includes/bottom.tmpl') %>