.dogs--map__rollover__wrapper{
	position: absolute;
	display: none;
}

.dogs--map__rollover__arrow{
	background-image: url("../img/320/pointer2.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 15px;
	height: 30px;
	float: right;
	margin: 15px -2px;
}

.dogs--map__rollover__content{
	float: right;

	img{
		width: 40px;
	}

	.dogs--map__rollover__breed_names {
	    margin-left: 50px;
	    margin-top: -37px;
	    line-height: 30px;
	    padding: 0;
	}
}

.area_headline{
	border-bottom: 1px solid #666;
}

.dogs--map__rollover__list{
	padding: 0;
	margin: 0;

	li{
		height: 40px;
		list-style-type: none;
		border-top: 1px #FFF;
		font-size: 0.9em;
	}
}

.dogs--map__left_arrow{
	background-image: url("../img/320/pointer.png");
	background-position: center;
	float: left;
	margin-right: -10px;
}

.pointer_at_the_bottom{
	.dogs--map__rollover__arrow{
		margin-top: 205px;
	}
}

.area_name, .breed_numbers {
    font-weight: bold;
}
.area_headline, .area_subheadline {
    padding-left: 4px;
    margin: 4px auto;
}

.dogs--map__rollover__content{
    background: rgba(45, 45, 45, 0.9);
    margin: 4px 0 0 10px;
    padding: 4px 12px 12px 12px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.dog_icon {
    float: left;
    height: 40px;
    width: 40px;
}