<div id="dogs--map__rollover__wrapper" class="dogs--map__rollover__wrapper">
	<div class="dogs--map__rollover__arrow"></div>
    <div class="dogs--map__rollover__content">
        <h4 class="area_headline"><span class="dogs--map__rollover__area_name"></span> dogs tagged</h4>
        <ul class="dogs--map__rollover__list">
            <li><img class="dogs--map__rollover__icon top_dog_image" /><div class="dogs--map__rollover__breed_names"><span class="breed_numbers top_breed_number"></span> <span class="top_breed_name"></span>s</div></li>
            <li><img class="dogs--map__rollover__icon second_top_dog_image" /><div class="dogs--map__rollover__breed_names"><span class="breed_numbers second_top_breed_number"></span> <span class="second_top_breed_name"></span>s</div></li>
            <li><img class="dogs--map__rollover__icon third_top_dog_image" /><div class="dogs--map__rollover__breed_names"><span class="breed_numbers third_top_breed_number"></span> <span class="third_top_breed_name"></span>s</div> </li>
            <li><img class="dogs--map__rollover__icon fourth_top_dog_image" /><div class="dogs--map__rollover__breed_names"><span class="breed_numbers fourth_top_breed_number"></span> <span class="fourth_top_breed_name"></span>s</div>  </li>
            <li><img class="dogs--map__rollover__icon fifth_top_dog_image" /><div class="dogs--map__rollover__breed_names"><span class="breed_numbers fifth_top_breed_number"></span> <span class="fifth_top_breed_name"></span>s </div> </li>
        </ul>
    </div>
</div>