<div class="dogs--list__top_20">
        <h4>Breeds tagged most frequently by Petlog and Animalcare across whole of the UK in past decade  </h4>
        <ul>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/labrador_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">1.</span>
                    <span class="dogs--list__table_name">Labrador Retriever</span>
                    <span class="dogs--list__table_number">509,500</span>
                </div>
            </li>

            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/jack_russell_terrier_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">2.</span>
                    <span class="dogs--list__table_name">Jack Russell Terrier</span>
                    <span class="dogs--list__table_number">376,300</span>
                </div>
            </li>
            
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/staffordshire_bull_terrier_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">3.</span>
                    <span class="dogs--list__table_name">Staffordshire Bull Terrier</span>
                    <span class="dogs--list__table_number">356,000</span>
                </div>
            </li>

            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/border_collie_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">4.</span>
                    <span class="dogs--list__table_name">Border Collie</span>
                    <span class="dogs--list__table_number">233,700</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/cocker_spaniel_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">5.</span>
                    <span class="dogs--list__table_name">Cocker Spaniel</span>
                    <span class="dogs--list__table_number">224,400</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/english_springer_spaniel_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">6.</span>
                    <span class="dogs--list__table_name">English Springer Spaniel</span>
                    <span class="dogs--list__table_number">194,700</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/german_shepherd_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">7.</span>
                    <span class="dogs--list__table_name">German Shepherd</span>
                    <span class="dogs--list__table_number">158,900</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/yorkshire_terrier_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">8.</span>
                    <span class="dogs--list__table_name">Yorkshire Terrier</span>
                    <span class="dogs--list__table_number">144,800</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/shih_tzu_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">9.</span>
                    <span class="dogs--list__table_name">Shih Tzu</span>
                    <span class="dogs--list__table_number">117,900</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/cavalier_king_charles_spaniel_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">10.</span>
                    <span class="dogs--list__table_name">Cavalier King Charles</span>
                    <span class="dogs--list__table_number">116,400</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/west_highland_white_terrier_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">11.</span>
                    <span class="dogs--list__table_name"> West Highland White</span>
                    <span class="dogs--list__table_number">112,000</span>
                </div>
            </li>
            
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/golden_retriever_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">12.</span>
                    <span class="dogs--list__table_name">Golden Retriever</span>
                    <span class="dogs--list__table_number">91,400</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/boxer_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">13.</span>
                    <span class="dogs--list__table_name">Boxer</span>
                    <span class="dogs--list__table_number">84,600</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/border_terrier_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">14.</span>
                    <span class="dogs--list__table_name"> Border Terrier</span>
                    <span class="dogs--list__table_number">84,000</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/rottweiler_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">15.</span>
                    <span class="dogs--list__table_name"> Rottweiler</span>
                    <span class="dogs--list__table_number">75,400</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/chihuahua_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">16.</span>
                    <span class="dogs--list__table_name">Chihuahua</span>
                    <span class="dogs--list__table_number">74,200</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/lhasa_apso_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">17.</span>
                    <span class="dogs--list__table_name">Lhasa Apso</span>
                    <span class="dogs--list__table_number">61,700</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/bichon_frise_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">18.</span>
                    <span class="dogs--list__table_name">Bichon Frise</span>
                    <span class="dogs--list__table_number">57,700</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/lurcher_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">19.</span>
                    <span class="dogs--list__table_name">Lurcher</span>
                    <span class="dogs--list__table_number">56,800</span>
                </div>
            </li>
            <li class="dogs--list__top_20_item">
                <div class="dogs--list__image__container">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/responsive/110x110/greyhound_110x110.png" />
                </div>
                <div class="dogs--list__top20__text__container">
                    <span class="dogs--list__table_rank">20.</span>
                    <span class="dogs--list__table_name">Greyhound</span>
                    <span class="dogs--list__table_number">49,400</span>
                </div>
            </li>
        </ul>
    </div> 